.pokeHeadBig{
    display: flex;
    justify-content: space-between;
    padding: 32px 48px 0px;
}
.pokeHeadBig img{
    cursor: pointer;
    width: 72px;
}
.pokeBodyContainerBig{
    display: flex;
    justify-content: space-between;
    padding: 32px 56px 0px;
}
.pokeBodyBig{
    display: flex;
    flex-direction: column;
}
.h2Big{
    font-size: 6rem;
    color: white;
    font-weight: 700;
}
.idBig{
    font-size: 4rem;
    font-weight: 600;
}
.pokeTypeBig{
    font-size: 30px;
    width: 150px;
    font-weight: 700;
}
.spanWrap{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.spanWrap span{
    margin-right: 8px;
}
.pokeNameTypeContainerBig{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pokeImgContainerBig{
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}
.pokeImgBig{
    height: 500px;
    margin-top: -100px;
    margin-left: 120px;
    transition: transform ease-in-out 200ms;
    transform: scale3d(1.0, 1.0, 1.0);
}

.pokeImgBig:hover{
    transform: scale3d(1.2, 1.2, 1.2) translateY(-35px) translateX(25px);    
}

.pokeFootBig{
    background-color: white !important;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;    
    padding-bottom: 40px;
}
.pokeFootLinks{
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 24px;
}
h3:hover{
    cursor: pointer;
    transition: ease-in-out 225ms;
    text-decoration: underline solid 2px ;
}
.aboutWrap{
    display: flex;
    justify-content: space-around;
}
.aboutWrap p{
    font-size: 20px;
    padding-right: 24px;
}
.stats-wrap{
    display: flex;
    justify-content: space-around;
}
.stats-wrap p{
    font-size: 18px;
}
.statsProgress{
    display: flex;
    flex-direction: column;
    
}
.progress{
    margin: 19px;
    height: 6px !important;
    width: 150px;
}
.movesWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
}
.movesList p{
    font-size: 18px;
    padding: 8px;
    margin-right: 8px;
}